.txt-top{padding-top: 20px;}
.border{border: 1px solid #fff;padding: 15px 0;}
a{text-decoration: none!important;}
/* *************NAV*********** */
input:focus , button:focus{
    border: none;
    outline: none;
}
#nav{
    background: rgb(24, 158, 255);
}
#nav .nav__wrapp{
    height: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
#nav .nav__left,#nav .nav__right{
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
#nav .nav__left--list{
    display: flex;
}
#nav .nav__left--list li{
    padding: 15px;
}
#nav .nav__mid{
    width: 40%;
}
#nav .nav__wrapp .redect_admin{
    position: absolute;
    right: 80px;
}
#nav .nav__mid .search{
    width: 100%;
    height: 35px;
}
#nav .nav__mid .search:focus{
    outline: none;
    border: none;
}
#nav .nav__mid .search input{
    width: 90%;
    height: 100%;
    border: 1px solid #fff;
}
#nav .nav__mid .search button{
    width: 10%;
    margin-left: -5px;
    height: 100%;
    border-radius: 0 4px 4px 0;
    background-color: rgb(237, 238, 242);
    padding: 0 !important;
    border-width: 0px;
    color: #3c3c3c;
}
#nav a{
    color: #fff;
    font-size: 1em;
}
#nav a:hover{
    color: #D51C29;
}
.form_login{
    display: none;
    position: absolute;
    left: calc(-50% + 10px);
    top: calc(100%);
    padding: 20px 0;
    width: 200px;
    background: #fff;
    height: 100px;
    box-shadow: 0px 5px 5px #ececec;
    text-align: center;
}
.form_login:before{
    content: "";
    position: absolute;
    top: -10px;
    left: calc(35%);
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.btn-login{
    width: 85%;
    padding: 5px 0;
    border-radius: 5px;
    background: rgb(253, 216, 53);
    border-width: 0px;
    color: rgb(74, 74, 74);
}
.btn-login:hover{
    background: rgba(253, 216, 53,0.7);
}
#nav .nav__right:hover .form_login{
    display: block;
}
/* *************NAV--END*********** */

/* *************SLIDER*********** */
#slider{
    height: 400px;
}
#slider .D_carousel{
    height: 100%;
}
#slider img{
    width: 100%;
    height: 400px;
}
.owl-theme .owl-dots{
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    margin: 0 auto;
}
#slider  .owl-prev,
#slider  .owl-next
{
    opacity: 0;
    position: absolute;
    top: 45%;
}
#slider .owl-prev{
    background: rgba(0,0,0,.3);
    width: 40px;
    height: 40px;
    border-radius: 5px;
    transition: left 2s;
    left: 60px;
}
#slider .owl-next{
    background: rgba(0,0,0,.3);
    width: 40px;
    height: 40px;
    border-radius: 5px;
    transition: right 2s;
    right: 60px;
}
#slider:hover .owl-prev{
    left: 5px;
    opacity: 1;
}
#slider:hover .owl-next{
    right: 5px;
    opacity: 1;
}
#slider .owl-prev:focus{
    border: none!important;
    outline: none!important;
}
#slider .owl-next:focus{
    border: none!important;
    outline: none!important;
}
#slider i{
    font-size: 1.5em;
    color: #fff;
}
/* *************SLIDER--END*********** */

/* *************HEADER*********** */
#header img{
    width: 100%;
    height: auto;
}
#header .header__wrapp{
    display: flex;
    justify-content: space-between;
}
#header .header__wrapp .header__left{
    display: flex;
}
#header .header__wrapp .name-school{
    padding: 20px 30px;
    text-align: center;
}
.header__wrapp .header__left #logo{
    width: 150px;
    height: auto;
    padding: 10px;
}
.header__wrapp .header__left .name-school p:first-child{
    font-size: 1.2em;
    font-weight: 700;
    color:#1b4d85;
}
.header__wrapp .header__left .name-school p{
    font-size: 0.75em;
    font-weight: 700;
    color: #3c3c3c;
}
.header__wrapp .header__right .name-school p:first-child{
    font-size: 1.3em;
    font-weight: 700;
    color:#1b4d85;
}
.header__wrapp .header__right .name-school p{
    font-size: 1.6em;
    font-weight: 700;
    color: #D51C29;
}
/* *************HEADER--END*********** */