#nt-compact {
  float:left;
  width:60px;
  background-color:#222;
  height:100%;
}

#nt-compact ul {
  margin:0px 0px 0px 0px;
  padding:0px;
}

#nt-compact ul li {
  width:60px;
  border-bottom:0px #333 solid;
  list-style:none;
  text-align:center;
}

#nt-compact ul li:hover {
  background:#f44336;
}

#nt-compact ul li a {
  font-size:150%;
  padding:10px;
  color:#ccc;
  text-shadow:1px 1px 0px #111;
  position:relative;
  display:block;
}

#nt-compact ul li a div.nt-tooltip {
  position:absolute;
  top:0px;
  left:53px;
  font-size:60%;
  background:#f44336;
  padding:12px;
  padding-right:20px;
  border-right:5px #222 solid;
  border-radius:0px 10px 10px 0px;
  font-family:"Ubuntu Condensed, sans-serif";
}

#nt-compact ul li a div.nt-tooltip p {
  margin:0px;
  padding:0px;
  font-size:150%;
}

#nt-compact ul li a:hover {
  text-shadow:1px 1px 0px #333;
}

